{% extends 'index.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'registro/registro.css' %}">
    
<div class="registro">
    <form action="">
        <div class="registro-img">
            <img src="{% static 'imagenes/usuario.jpeg' %}" alt="usuario">
        </div>

        <label for="nombres">Nombres: </label>
        <input type="text" id="nombres" placeholder="Enter names">

        <label for="apellidos">Apellidos: </label>
        <input type="text" id="apellidos" placeholder="Enter lastname">

        <label for="email">Correo electronico: </label>
        <input type="email" id="email" placeholder="Enter email">
        
        <label for="fecha">Fecha de nacimiento: </label>
        <input type="date" id="fecha">

        <div>
            <label for="hombre">Hombre </label>
            <input type="radio" name="sexo" id="mujer">
        </div>

        <div>
            <label for="mujer">Mujer</label>
            <input type="radio" name="sexo" id="mujer">
        </div>

        <button class="back">cancelar</button>
        <button type="submit" class="submit">Registrarse</button>
    </form>
</div>
{% endblock %}

</body>
</html>