
/* FORMULARIO DE LOGIN */


.login form{
    color: white;
    font-size: 1em;
    width: 43.75rem;
    padding: 2em;
    border: 3px solid #f1f1f1;
    border-radius: 2em;
    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

}
.log-image img{
    border-radius: 50%;
    border: 5px solid #f1f1f1;
}

.login > form > div.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.login .botones{
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

/* BOTON ENVIAR */
.login form button.submit{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 1em;
    height: 3em;
    background-color: rgb(16, 208, 16);
    opacity: .7;
}

.login form  button.submit:hover{
    opacity: 1;
}
/* BOTON CANCELAR */
.login form button.back{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 1em;
    height: 3em;
    background-color: rgb(208, 16, 16);
    opacity: .7;
}

.login form button.back:hover{
    opacity: 1;
}
